html {
  height: 100%;
  background-color: rgb(255, 255, 255);
}
body {
  background-color: rgb(255, 255, 255);
  max-width: 1800px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
main {
  /*display: flex;*/
  flex-direction: row;
  margin-top: 50px;
  min-height: 450px;
  font-family: "Open Sans", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
}
header img {
  width: 150px;
  height: 150px;
}
main img {
  display: center;
  margin: 0 auto;
  float: center;
  width: 980px;
  height: 400px;
}
main aside {
  display: block;
  margin: 0 auto;
  float: right;
  max-width: 100%;
  width: 100%;
  height: auto;
}
nav a {
  display: inline-block;
  padding: 10px 20px;
  /*  border-radius: 20px;*/
  background-color: #c99624;
  color: #c99624;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}
nav a:hover {
  background-color: #daa520;
  color: #000000;
}
h1 {
  font-size: 46px;
  color: #000000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
h2 {
  font-size: 40px;

  color: #000000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
h3 {
  font-size: 36px;
  color: #000000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
h5 {
  font-size: 20px;
  color: #000000;
}
h6 {
  font-size: 14px;
  color: #ffffff;
}
p {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #000000;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
}
li {
  display: inline-block;
  /*/max-width: 200px;*/
  text-align: center;
}
.slider {
  overflow: hidden;
  text-align: center;
  height: 500px;
}
.slider > .slider-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;
}
.slider > .slider-content > .slider-item {
  flex: 0 0 auto;
  width: 100%;
}
.slider-item img {
  width: 450px;
  height: 350px;
  max-width: 100%;
  max-height: 100%;
}
.slider > input:nth-child(1):checked ~ .slider-content {
  transform: translateX(0%);
}
.slider > input:nth-child(2):checked ~ .slider-content {
  transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content {
  transform: translateX(-200%);
}
.slider > input:nth-child(4):checked ~ .slider-content {
  transform: translateX(-300%);
}
.slider img {
  max-width: 750px;
  max-height: 950px;
  width: auto;
  height: auto;
  text-align: center;
}
.container {
  overflow: hidden;
  text-align: center;
}
.container > .container-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;
}
.container > .container-content > .container-item {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
}
.container > input:nth-child(1):checked ~ .container-content {
  transform: translateX(0%);
}
.container > input:nth-child(2):checked ~ .container-content {
  transform: translateX(-100%);
}
.container > input:nth-child(3):checked ~ .container-content {
  transform: translateX(-200%);
}
.container > input:nth-child(4):checked ~ .container-content {
  transform: translateX(-300%);
}
.container img {
  max-width: 1000px;
  max-height: 450px;
  width: auto;
  height: auto;
}
strong {
  font-size: 20px; /* Defina o tamanho desejado para o <h1> */
  font-family: "Open Sans", sans-serif;
  color: rgb(203, 150, 36);
  text-align: center;
  font-weight: lighter;
}
a:link {
  background: none;
  color: rgb(203, 150, 36);
  text-decoration: none;
  font-weight: bold;
  /*border: 4px solid rgb(203, 150, 36);*/
  /*border-radius: 20px;*/
  padding: 8px 16px;
  display: inline-block;
  margin-right: 10px;
  text-align: center; /* Adiciona para centralizar o texto dentro do botão */
}
a:link:hover {
  background: #daa520;
  color: #000000;
}
.custom-style-2 {
  font-family: "Open Sans", sans-serif;
  color: #daa520;
  font-size: 50px;
}
.article_img {
  float: left;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}
.missao {
  width: 100%;
}
.missao_conteudo {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.missao p {
  text-align: justify;
  line-height: 20px;
}
.contato p {
  text-align: justify;
  line-height: 20px;
}
#todo {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.container-viagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.container-viagens img:hover {
  transform: scale(0.9) translateY(5px);
  cursor: pointer;
  transition: 0.3s;
}
.viagens {
  background-color: #daa520;
  color: #fff;
  border-radius: 10px;
}
.viagens img {
  width: 250px;
  height: 250px;
  transition: 0.35s ease;
  border-radius: 10px;
}
.informações {
  text-align: center;
  display: center;
  justify: center;
}
.texto_informações {
  font-size: 20px;
  font-weight: 300;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 20px;
  font: 100px;
  font-size: small;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  margin-top: auto;
}

@media (max-width: 450px) {
  html {
    height: auto;
    background-color: rgb(230, 230, 230);
  }
  main img {
    display: center;
    margin: 0 auto;
    float: center;
    width: 315px;
    height: 400px;
  }
  body {
    background-color: rgb(255, 255, 255);
    max-width: 1800px;
    padding: 10px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
  }
  main {
    /*display: flex;*/
    flex-direction: row;
    margin-top: 50px;
    min-height: 450px;
    font-family: "Open Sans", sans-serif;
  }
  .slider {
    overflow: hidden;
    text-align: center;
    height: 500px;
  }
  .slider > .slider-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;
  }
  .slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
  }
  .slider-item img {
    width: 450px;
    height: 350px;
    max-width: 100%;
    max-height: 100%;
  }
  .container-viagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .container-viagens img:hover {
    transform: scale(0.9) translateY(5px);
    cursor: pointer;
    transition: 0.3s;
  }
  .viagens {
    background-color: #daa520;
    color: #fff;
    border-radius: 10px;
  }
  .viagens img {
    width: 150px;
    height: 150px;
    transition: 0.35s ease;
    border-radius: 10px;
  }
    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
  }
  header img {
    width: 50px;
    height: 50px;
  }

  nav a {
    display: inline-block;
    padding: 10px 20px;
    /*  border-radius: 20px;*/
    background-color: #c99624;
    color: #c99624;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
  }
  nav a:hover {
    background-color: #daa520;
    color: #000000;
  }
  a{
    font-size: 11px;
  }
}
